/* HEADER */
.header {
  top: 0;
  position: fixed;
  z-index: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #000;
}
@media screen and (min-width: 414px) {
  .header {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.header__container {
  padding-left: 0;
  padding-right: 0;
}

.header__row {
  display: flex;
  align-items: center;
}
/* Язык */
.header__col-lang {
  display: inherit;
}

.header__lang-text {
  color: #fff;
  padding: 0 5px;
}

.btn__lang {
  padding: 0;
}

/* Навигация */
.header__nav {
  display: inherit;
  justify-content: center;
}

.btn__nav {
  display: flex;
  align-items: center;
}

.header__icon-arrow-down {
  margin-left: 5px;
}

.nav__list {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  background-color: #000;
  width: 100%;
  margin-top: 40px;
  padding: 30px;
}

.nav__list a {
  color: #fff;
  text-decoration: none;
}

.nav__list-item {
  opacity: 0.5;
  padding: 10px;
}

.nav__list-item:hover {
  opacity: 1;
}

.nav__list-item:active {
  opacity: 1;
}

/* Чат */
.header__col-btn {
  display: inherit;
  flex-direction: row;
  justify-content: flex-end;
}

.btn__chat {
  padding: 0;
}

.btn__chat .title-emoji {
  font-size: 23px;
}
@media screen and (min-width: 414px) {
  .btn__chat .title-emoji {
    font-size: 25px;
  }
}
@media screen and (min-width: 768px) {
  .btn__chat .title-emoji {
    font-size: 30px;
  }
}
