/* START */
.start {
  position: relative;
  min-height: 100%;
}

.fluid-bbc {
  background-color: #fff000;
}

.fluid-papa {
  background-color: #f38830;
}

.fluid-bbc,
.fluid-papa {
  height: 100vh;
}

.start__fix {
  position: absolute;
}

.start__col {
  text-align: center;
}

/* Логотипы */
@media screen and (min-width: 375px) {
  .start__logo {
    width: 75px;
    height: 75px;
  }
}
@media screen and (min-width: 992px) {
  .start__logo {
    width: 100px;
    height: 100px;
  }
}

/* Слайдер */
/* Слайдер - Картинки  */
.swiper-slide__img {
  object-fit: contain;
}

@media screen and (min-width: 375px) {
  .swiper-slide__img {
    width: 100%;
    height: auto;
    max-height: 60vh;
  }
}
/* Слайдер - Стрелки */
.swiper-button-prev {
  color: #000;
}
.swiper-button-next {
  color: #000;
}
/* Слайдер - Пагинация */
.swiper-pagination-bullet {
  opacity: 0.3;
  background-color: #000;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}

/* Преимущества */
.start__features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 375px) {
  .start__features {
    margin-bottom: 5px;
  }
  .start__features-icon {
    height: 40px;
    width: 40px;
  }
}
@media screen and (min-width: 768px) {
  .start__features {
    margin-bottom: 15px;
  }
  .start__features-icon {
    height: 50px;
    width: 50px;
  }
}
