/* START */
.start {
  position: relative;
  height: 100%;
  min-height: 540px;
}
@media screen and (min-width: 375px) {
  .start {
    min-height: 569px;
  }
}
@media screen and (min-width: 414px) {
  .start {
    min-height: 653px;
  }
}
@media screen and (min-width: 768px) {
  .start {
    min-height: 950px;
  }
}
@media screen and (min-width: 992px) {
  .start {
    min-height: 1000px;
  }
}

.fluid-bbc {
  background-color: #fff000;
}

.fluid-papa {
  background-color: #f38830;
}

.fluid-bbc,
.fluid-papa {
  height: 100%;
}

.start__fix {
  position: absolute;
  height: 100%;
}
.start .container--padding {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row__logo {
  margin-top: 54px;
}
@media screen and (min-width: 375px) {
  .row__logo {
    margin-top: 57px;
  }
}
@media screen and (min-width: 414px) {
  .row__logo {
    margin-top: 67px;
  }
}
@media screen and (min-width: 768px) {
  .row__logo {
    margin-top: 76px;
  }
}

.start__col {
  text-align: center;
}

/* Логотипы */
@media screen and (min-width: 375px) {
  .start__logo {
    width: 55px;
    height: 55px;
  }
}
@media screen and (min-width: 992px) {
  .start__logo {
    width: 100px;
    height: 100px;
  }
}

/* Слайдер */
/* Слайдер - Картинки  */
.swiper-slide__img {
  object-fit: contain;
}

@media screen and (min-width: 375px) {
  .swiper-slide__img {
    width: 100%;
    height: 100%;
    max-height: 50vh;
  }
}
/* Слайдер - Стрелки */
.swiper-button-prev {
  color: #000;
}
.swiper-button-next {
  color: #000;
}
/* Слайдер - Пагинация */
.swiper-pagination-bullet {
  opacity: 0.3;
  background-color: #000;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}

/* Преимущества */
.start__features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start__features-icon {
  height: 30px;
  width: 30px;
}
@media screen and (min-width: 375px) {
  .start__features-icon {
    height: 35px;
    width: 35px;
  }
}
@media screen and (min-width: 768px) {
  .start__features {
    margin-bottom: 15px;
  }
  .start__features-icon {
    height: 50px;
    width: 50px;
  }
}
