/* MAIN */
.start {
  padding-top: 60px;
}
@media screen and (min-width: 375px) {
  .start {
    padding-top: 65px;
  }
}

.btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  text-transform: uppercase;
  font-size: 16px;
}
@media screen and (min-width: 375px) {
  .btn {
    font-size: 18px;
  }
}

/* JIVOCHAT */
#jivo_chat_widget {
  display: none;
}

/* TYPOGRAPHY */
.title-h2 {
  font-size: 25px;
}
@media screen and (min-width: 375px) {
  .title-h2 {
    font-size: 30px;
  }
}

.title-h3 {
  margin-top: 00.5rem;
  font-size: 23px;
}
@media screen and (min-width: 375px) {
  .title-h3 {
    font-size: 25px;
  }
}

.title-h4 {
  font-size: 15px;
}
@media screen and (min-width: 375px) {
  .title-h4 {
    font-size: 18px;
  }
}

.text {
  text-align: justify;
  font-size: 16px;
}
@media screen and (min-width: 375px) {
  .text {
    font-size: 18px;
  }
}

.title__col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-emoji {
  margin-bottom: 0.5rem;
  font-size: 25px;
}

.author-link {
  text-decoration: none;
}

/* UTILITES */

.d-flex--center {
  display: flex;
  justify-content: center;
}

.row--padding {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .row--padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.container--padding {
  padding-left: 0;
  padding-right: 0;
}

.col--no-padding {
  padding-left: 0;
  padding-right: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Responsive */

/* Responsive - Iphone 6/7/8 + X */
@media screen and (min-width: 375px) {
}

/* Responsive - Iphone 6/7/8 Plus */
@media screen and (min-width: 414px) {
}

/* Responsive - Ipad */
@media screen and (min-width: 768px) {
}

/* Responsive - Ipad Pro */
@media screen and (min-width: 992px) {
}

/* Responsive - Desktop */
@media screen and (min-width: 1200px) {
}
